<!DOCTYPE html>
<head>
        <meta charset="UTF-8">
        <title>NLP</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css2.css">
        <l<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="header"> 
       <%- include('../header') -%>
    </div>
    <div class="navigation">
        <%- include('../navform') -%>
    </div>
    <div class="body">
        <div class="container">
        <div class="row" style="margin: 20px">
        <div class="col-md-5">
            <div class="row" style="margin-bottom: 10px;">
                <img class="img-fluid rounded mx-auto d-block"
                    src="/images/<%=singleHotel.Id%>.jpg" alt="">
            </div>
            <!-- <div class="row">
                <img class="img-fluid rounded mx-auto d-block" width="100"
                    src="https://media.laodong.vn/Storage/NewsPortal/2018/10/19/637067/9-2_Opt.jpg?w=414&h=276&crop=auto&scale=both" alt="">
            </div> -->
        </div>
        <div class="col container">
            <h1 class="display-4"> <%=singleHotel.TenTro%>
                <% if(user) {%>
                <% if(user.PhanQuyen===2 && singleHotel.IdChuTro===user.TenDangNhap) {%><button type="button" style="margin-left: 170px;" onclick="deleteItem(<%=singleHotel.Id%>)" class="btn btn-danger">Delete</button> <%}%>
                <% if(user.PhanQuyen===1 && user.IdPhongTro===null) {%><button type="button" style="margin-left: 170px;" onclick="applyHotel(<%=singleHotel.Id%>)" class="btn btn-danger">Apply</button> <%}%>
                <%}%>
                    
            </h1>
            <dl class="row">
                <dt class="col-sm-4 h4"><strong>Khu vực:</strong></dt>
                <dd class="col-sm-8 lead"><%=singleHotel.DiaChi%></dd>
                <dt class="col-sm-4 h4"><strong>Giá:</strong></dt>
                <dd class="col-sm-8 lead"><%=singleHotel.Gia%>₫</dd>
                <dt class="col-sm-4 h4"><strong>Diện tích:</strong></dt>
                <dd class="col-sm-8 lead"><%=singleHotel.DienTich%></dd>
            </dl>
        </div>
    </div>

    <hr />

    <dl class="row" style="margin: 10px">
        <dt class="col-sm-12">
        </dt>
        <dl class="row" style="margin: 10px">
            <dt class="col-sm-12">
                
            </dt>

        <dt class="col-sm-6 text-truncate h5">Sản phẩm đăng bởi:</dt>
        <dd class="col-sm-6 lead"><%=singleHotel.IdChuTro%></dd>


        <dt class="col-sm-3 text-truncate h5"></dt>
        <dd class="col-sm-9 lead"></dd>


        <dt class="col-sm-3 text-truncate h5"></dt>
        <dd class="col-sm-9"></dd>
    </dl>

    <hr />

    <div class="row justify-content-md-center" style="margin: 10px">
        <h5 class="col-sm-12">Mô tả sản phẩm</h5>
        <p class="col-sm-12"><%=singleHotel.GhiChu%></p>
    </div>

    <hr />

    <div class="row justify-content-around" style="margin: 10px">
        <div class="row justify-content-around" style="margin: 10px">
        </div>
    </div>
</div>
    </div>
    
    <div class="footer">
        <%- include('../footer') -%>
    </div>
</body>
<script>
    function deleteItem(id){
        let fet = fetch(`http://localhost:3000/landlords/deleteHotel=${id}`);
    }
    function applyHotel(id){
        let fet = fetch(`http://localhost:3000/apply=${id}`);
    }
</script>