
<!DOCTYPE html>
<head>
        <meta charset="UTF-8">
        <title>homestayUS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css2.css">
        <l<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="header"> 
        <%- include('../header') -%>
    </div>
    <div class="navigation">
        <%- include('../navform') -%>
    </div>
    <div class="body">
        <div class="ctn">
            <div class="con-left" id="filter">
                <% if (listHotel) {%>
                <% listHotel.forEach(hotel=>{%>
                    <div class="newcard">
                        <img src="/images/<%=hotel.Id%>.jpg" alt="">
                        <div class="text-name"><%=hotel.DiaChi%></div>
                        <h6><%=hotel.TenTro%></h6>
                        <h6> | </h6>
                        <h6><%=hotel.Gia%></h6>
                        <h6> | </h6>
                        <h6><%=hotel.DienTich%>m<sup>2</sup></h6>
                        <p><%=hotel.GhiChu%></p>
                        <a href="/single/<%=hotel.Id%>">Xem chi tiết</a>
                    </div>
                  <%})%>
                  <%}%>
                  <% if(pagi) { %>
                  <div class="pagi" style="display: flex;
                                        text-align: center;
                                        align-items: center;
                                        justify-content: center;
                                        margin-top: 30px;"> 
                        <nav aria-label="Page navigation example"">
                            <ul class="pagination">
                                <li class="page-item">
                                <a class="page-link" href='/page=<%if(pageCurrent===1){%>1<%}else{%><%=pageCurrent-1%><%}%>' aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                </li>
                                <% for(var i=1;i<=page;i++) {%>
                                <li class="page-item"><a class="page-link" href="/page=<%=i%>"><%=i%></a></li>
                                <% } %>
                                <li class="page-item">
                                <a class="page-link" href='/page=<%if(pageCurrent===page){%><%=pageCurrent%><%}else{%><%=pageCurrent+1%><%}%>' aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                                </li>
                            </ul>
                        </nav>
                     </div>
                     <% } %>
            </div>
            <div class="con-right">
            </div>
            
        </div>
       
    </div>
    <div class="footer">
        <%- include('../footer') -%>
    </div>
    <script>
            // function getForm() {
            //     console.log("Form");
            //     let acreage = document.getElementById("acreage").value;
            //     let area = document.getElementById("area").value;
            //     let price = document.getElementById("price").value;
            //     let type = document.getElementById("type").value;
            //     var innerHTMl = "";
            //     let fet = fetch(`http://localhost:3000/price=${price}&area=${area}&acreage=${acreage}&type=${type}`);
            //   fet.then((response) => response.json())
            //  .then((data) => {
            //     var innerHtml = "";
            //     data.forEach(index => {
            //         innerHtml = innerHtml + `<div class="newcard">
            //             <img src= alt="https://media.laodong.vn/Storage/NewsPortal/2018/10/19/637067/9-2_Opt.jpg?w=414&h=276&crop=auto&scale=both">
            //             <div class="text-name">${index.DiaChi}</div>
            //             <h6>${index.TenTro}</h6>
            //             <h6> | </h6>
            //             <h6>${index.Gia}</h6>
            //             <h6> | </h6>
            //             <h6>${index.DienTich}m<sup>2</sup></h6>
            //             <p>${index.GhiChu}</p>
            //         </div>`
            //     });
            //     document.getElementById("filter").innerHTML = innerHtml;
            //  });
            //     }
        </script>
</body>