<!DOCTYPE html>
<head>
        <meta charset="UTF-8">
        <title>homestayUs</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css2.css">
        <l<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="header"> 
        <%- include('./header') -%>
    </div>
    <div class="navigation">
      <%- include('./navform')-%>
    </div>
    <div class="body">
        
        <!-- Kiem tra nếu là người thuộc phòng trọ -->
        <% if(isUser) {%>
        <div class="hotel" style="margin-top: 20px;
                                margin-left: 50px;">
            <% if(!isHotel) {%>
            <h2><%=listUser[0].TenTro%></h2>
            <%if(listUser[0].Gia){%><h4>Giá: <%=listUser[0].Gia%></h4><%}%>
            <%if(listUser[0].Gia){%><h4>Diện tích: <%=listUser[0].DienTich%>m<sup>2</sup></h4><%}%>
                <%if(listUser[0].Gia){%><h4>Địa chỉ: <%=listUser[0].DiaChi%></h4><%}%>
            <%}%>
        </div>
        <div class="newtable">
        <table id="customers">
            <tr class="titletable" >
              <th style="background-color: #FA991C;">Tên người ở</th>
              <th style="background-color: #FA991C;">Liên hệ</th>
              <th style="background-color: #FA991C;">Tình trạng</th>
              <th style="background-color: #FA991C;">Option</th>
            </tr>
            <% if(listUser[0].TenTro) {%>
            <% listUser.forEach(user => {%>
            <tr>
                <td><%=user.HoTen%></td>
                <td><%=user.SoDienThoai%></td>
                <td id="tinhtrang<%=user.TenDangNhap%>"><%if(user.IdPhongTro){%>1<%}else{%>0<%}%></td>
                <td><%if(user.IdPhongTro){%>
                    <button type="button" onclick="deleteUser('<%=user.TenDangNhap%>', '<%=user.IdPhongTro%>')" class="btn btn-danger">Delete</button>
                    <%}else{%>
                        <%}%>
                </td>
            </tr>
            <%})%>
            <%}%>
          </table>
          </div>
          <%}%>
          <% if(isHotel) {%>
          <div class="newtable">
            <table id="customers">
                <tr class="titletable" >
                    <th style="background-color: #FA991C;">Tên trọ</th>
                    <th style="background-color: #FA991C;">Địa chỉ</th>
                    <th style="background-color: #FA991C;">Tình trạng</th>
                </tr>
                <% listHotel.forEach(hotel => {%>
                <tr>    
                    <td><a href="/landlords/listUser=<%=hotel.Id%>"><%=hotel.TenTro%></a></td>
                    <td><%=hotel.DiaChi%></td>
                    <td><%=hotel.isDelete%></td>
                </tr>
                <%})%>
                
                </table>
            </div>
            <%}%>
    </div>
    
    <div class="footer">
        <%- include('./footer') -%>
    </div>
    <script>
        function deleteUser(userName,id){
            let callAPI = fetch(`http://localhost:3000/landlords/deleteUser=${userName}`)
            document.getElementById(`tinhtrang${userName}`).innerHTML = 0;
        }
    </script>
</body>